body {
    background-color: #e0ffff;
}


header {
    margin: 20px;
    padding: 20px;
    background-color:#5c5cff;
    color: #fffafa;
    text-align: center;
    font-family: Quintessential, 'Times New Roman', serif;
}

.part2 {
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    background-color: #06fafa;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0.5s;
}

@keyframes example {
    0%   {background-color:#06fafa; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:lightblue; left:-200px; top:0px;}
    75%  {background-color:lightgreen; left:200px; top:0px;}
    100% {background-color:#06fafa; left:0px; top:0px;}
  }

nav a {
    color: #fffafa;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

.intro{
    font-size: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#domestic {
    text-align: center;
}

footer {
    background-color: #e6a6ff;
    color: #535555;
    text-align: center;
    padding: 15px;
}

footer a {
    color: #000000;
}